{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Реєстрація</title>
  <link rel="stylesheet" href="{% static 'accounts/forms.css' %}">
</head>
<body>
  <div class="card">
    <h1>Реєстрація користувача</h1>

    <form method="post" class="form">
      {% csrf_token %}

      {{ form.non_field_errors }}

      <label>Username</label>
      {{ form.username }}
      {{ form.username.errors }}

      <label>Email</label>
      {{ form.email }}
      {{ form.email.errors }}

      <label>Phone</label>
      {{ form.phone }}
      {{ form.phone.errors }}

      <label>Age</label>
      {{ form.age }}
      {{ form.age.errors }}

      <label>Password</label>
      {{ form.password1 }}
      {{ form.password1.errors }}

      <label>Repeat password</label>
      {{ form.password2 }}
      {{ form.password2.errors }}

      <button type="submit">Зареєструватися</button>
    </form>

    <p class="links">
      Є акаунт? <a href="{% url 'login' %}">Увійти</a><br>
      Адмін? <a href="{% url 'admin_register' %}">Реєстрація адміністратора</a>
    </p>
  </div>
</body>
</html>